@import 'bootstrap/dist/css/bootstrap-reboot.min.css';
@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --colorBeige: rgb(240, 224, 184);
  --colorText: rgb(108, 75, 93);
  --colorBlue: rgb(64, 147, 166);
  --colorGray: rgba(108, 75, 93, 0.3);
  --colorGreen: rgb(88, 132, 86);
  --colorGreenLight: rgb(165, 171, 64);
  --colorOrange: rgb(229, 154, 69);
  --colorPink: rgb(213, 104, 95);
  --colorBordeaux: rgb(147, 81, 100);
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 18px;
  color: var(--colorText);
  display: grid;
  grid-template-columns: 25vw 75vw;
  grid-template-rows: 1fr 8vh;
  grid-template-areas:
    'aside main'
    'footer footer';
}

a {
  color: var(--colorText);
}

a:hover {
  text-decoration: none;
  color: var(--colorText);
}

aside {
  position: sticky;
  top: 0;
  height: 93vh;
  box-sizing: border-box;
  display: flex;
  grid-area: aside;
  flex-direction: column;
  justify-content: space-between;
  background: repeating-linear-gradient(
    45deg,
    var(--colorBeige),
    var(--colorBeige) 10px,
    rgb(108, 75, 93, 0.3) 10px,
    rgb(108, 75, 93, 0.3) 11px
  );
}

.logo {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  flex: 0 1 auto;
  margin: 0;
}

.logo a {
  height: 90%;
  width: auto;
  display: flex;
  justify-content: center;
}

.logo img {
  margin-right: -30px;
  height: 100%;
  width: auto;
}

aside .intro {
  text-align: center;
  padding: 0 3rem;
  flex: 0 1 auto;
}

aside .search {
  padding: 0 3rem;
}

aside .search input,
main .search input {
  padding: 1.5rem 1rem;
  border: 1px solid var(--colorText);
  line-height: 2rem;
  font-size: 1.2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

aside .search button,
main .search button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  background: var(--colorText);
  border-color: var(--colorGray);
}

aside .search button:hover,
main .search button:hover {
  background: var(--colorBeige);
  border-color: var(--colorGray);
}

main {
  grid-area: main;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.menu {
  padding: 2rem 2rem;
}

.menu a {
  padding: 0.5rem;
  display: block;
  font-size: 1rem;
  color: var(--colorText);
  line-height: 1.2rem;
  background: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: all 0.2s;
}

.menu a:last-child {
  margin-bottom: 0;
}

.menu a:hover,
.menu a.active {
  text-decoration: none;
  color: var(--colorBeige);
  transition: all 0.2s;
}

.submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--colorBeige);
}

.submenu:not(.submenu-theme) a {
  color: var(--colorText);
}

.theme-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.theme {
  padding: 1.5rem;
  padding-bottom: 0;
  border-radius: 1rem;
  line-height: 1.2rem;
  position: relative;
  display: block;
  height: 100%;
  transition: all 0.2s;
}

.theme:hover {
  text-decoration: none;
  color: var(--colorBeige);
  transition: all 0.2s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: -5px;
}

.theme:hover .title,
.theme:hover img {
  display: none;
  transition: all 0.2s;
}

.theme:hover .summary {
  display: block;
  opacity: 1;
}

.theme img {
  position: absolute;
  z-index: 0;
  bottom: 0;
  height: 17vh;
}

.theme .title {
  background: white;
  padding: 1rem;
  font-size: 2.4vh;
  z-index: 1;
  line-height: 2.7vh;
  margin-right: -2rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.theme .summary {
  display: none;
}

/* .theme .title:before {
  width: 0;
  height: 0;
  content: '';
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid blue;
} */

.color-beige,
.h2-beige h2 {
  color: var(--colorBeige);
}

.bg-default {
  background: var(--colorBeige);
}

.bg-diagonal {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(240, 224, 184, 0.5) 10px,
    rgba(240, 224, 184, 0.5) 11px
  );
}

.bg-diagonal-dark {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgb(108, 75, 93, 0.3) 10px,
    rgb(108, 75, 93, 0.3) 11px
  );
}

.theme#ouders-laten-meewerken,
.bg-ouders-laten-meewerken,
.bg-ouders-laten-meewerken-hover:hover,
.bg-ouders-laten-meewerken-hover.active {
  background: var(--colorBlue);
}

.color-ouders-laten-meewerken,
.h2-color-ouders-laten-meewerken h2 {
  color: var(--colorBlue);
}

.theme#met-alle-ouders-contact-leggen,
.bg-met-alle-ouders-contact-leggen,
.bg-met-alle-ouders-contact-leggen-hover:hover,
.bg-met-alle-ouders-contact-leggen-hover.active {
  background: var(--colorGreen);
}

.theme#de-zaak-ontmijnen,
.bg-de-zaak-ontmijnen,
.bg-de-zaak-ontmijnen-hover:hover {
  background: var(--colorOrange);
}

.theme#moeilijke-situaties-aankaarten,
.bg-moeilijke-situaties-aankaarten,
.bg-moeilijke-situaties-aankaarten-hover:hover,
.bg-moeilijke-situaties-aankaarten-hover.active {
  background: var(--colorPink);
}

.theme#als-begeleider-de-touwtjes-in-handen-houden,
.bg-als-begeleider-de-touwtjes-in-handen-houden,
.bg-als-begeleider-de-touwtjes-in-handen-houden-hover:hover,
.bg-als-begeleider-de-touwtjes-in-handen-houden-hover.active {
  background: var(--colorGreenLight);
  & img {
    margin-left: -1rem;
  }
}

.theme#de-ouder-geruststellen,
.bg-de-ouder-geruststellen,
.bg-de-ouder-geruststellen-hover:hover,
.bg-de-ouder-geruststellen-hover.active {
  background: var(--colorBordeaux);
}

.footer {
  bottom: 0;
  background: white;
  position: sticky;
  display: flex;
  grid-area: footer;
  align-content: center;
  justify-content: space-between;
  height: 100%;
  min-height: 70px;
  box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.05);
  font-size: 1.1rem;
}

.footer a {
  border-radius: 0.5rem;
  display: block;
  padding: 0.1rem 0.25rem;
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: none;
}

.partners {
  display: flex;
  justify-content: space-between;
  order: 3;
  padding: 1rem 0;
}

.partner {
  margin-right: 3rem;
}

.partner img,
.partner > a {
  display: block;
  width: auto;
  height: 100%;
  background: white;
}
