body {
  grid-template-columns: 40vw 60vw;
  grid-template-areas:
    'aside main'
    'footer footer';
}

@media (min-width: 1200px) {
  body {
    grid-template-columns: 47vw 53vw;
  }
}

.home aside {
  padding: 4rem 0;
  padding-bottom: 5rem;
}

.home .logo {
  order: 1;
}

.home .intro {
  order: 2;
  padding: 2rem 0;
  padding-top: 0rem;
}

.home .search {
  order: 3;
}

.home .row > div:nth-child(-n + 4) {
  margin-bottom: 2rem;
}

.theme-title > div {
  grid-area: title;
  transform: rotate(-90deg);
  transform-origin: top left;
  position: absolute;
  background: var(--colorBeige);
  top: 100vh;
  text-align: center;
  width: 100vh;
  font-size: 3rem;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
