.field {
  min-height: 350px;
  display: flex;
}

.field-content {
  padding: 2rem;
  width: 100%;
}

.field-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.field-title div:nth-child(1) {
  font-size: 5rem;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field-title div:nth-child(2) {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: top left;
  top: 100px;
  left: 100px;
  text-align: left;
  display: flex;
  height: 100px;
  align-items: center;
}

.situation-list a {
  display: block;
  border-bottom: 1px solid var(--colorText);
  padding-bottom: 1rem;
}
